# Logs
*.log
npm-debug.log*

# Runtime data
package-lock.lock

# Compiled output
dist/

# Dependency directories
node_modules/

# Typescript v1 declaration files
typings/

# Optional npm cache directory
.npm

#webstrom
.idea/
